* {
  box-sizing: border-box;
}

.top-page-header {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between; 
  align-items: center;
  white-space: nowrap;
  background-color: white;
  padding: 0 10px;
  
}

.dozo-logo{
  display: flex-start;
  align-items: center;
  width: 200px;
  height: 90px;
}

.top-contents{ 
  display: flex;
  justify-content: space-around;
  align-items: center; 
}

.category{
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}

.search{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  margin-bottom: 5px;
}

.input-box {
  border: 1px solid gray;
  border-right: none;
  padding: 5px 0 5px 5px;
  height: 35px;
  width: 20vw;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #333333;
}

.search-button {
  width: 45px;
  height: 35px;
  border: 2px solid gray;
  background: gray;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 15px;
}



.nav{
  display: flex;
  justify-content: space-around;
}

.lists-right{
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}

.nickname {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}


.logout {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}

.login {
  text-decoration: none;
  line-height: 32px;
  margin-right: 3vw;
  color: #333333;
}

.reuse {
  text-decoration: none;
  color: #fff;
  background-color: #eb6100;
  padding: 15px;
  border-radius: 5px;
}

