<% if model.errors.any? %>
<div class="error-alert">
  <ul style="padding: 10px; background: #ffdfdf; color: #a54141;">
    <% model.errors.full_messages.each do |message| %>
    <li class='error-message'><%= message %></li>
    <% end %>
  </ul>
</div>
<% end %>