
.main{
  padding-top: 70px;
}


.item-contents {
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.subtitle {
  font-size: 3vh;
  margin: 1vh 0;
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.subtitle2 {
  font-size: 3vh;
  margin: 7vh 0 0;
  text-decoration: none;
  color: black;
  font-weight: bold;
}


.news {
  width: 500px;
  height: 100px;
  overflow-y: scroll;
  border: gray 1px solid;
}

.item-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #FFF;
  /* text-decoration: none;  */
}

/* 登録品の名前とカテゴリー */
.item-info {
  display:inline-block;
  text-decoration: none; 
}

.item-img {
  width: 33vh;
  height: 33vh;
}

.item-category {
  color: black;
  display:inline-block;
  text-decoration: none;
  padding: 0 5px;
  border: 1px solid black;
  border-radius: 5px;
  font-size: 13px;
}

.item-name {
  color: black;
  display:inline-block; 
  text-decoration: none; 
}
/*  */


