<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1><%= @oredr.name %>様</h1>
    <p>
      「<%= @order %>」の注文が完了しました。
      受け取り場所への到着までお待ちください。<br>
    </p>
    <p>
      このサイトにログインするには、<%= @url %>をクリックしてください。
    </p>
    <p>本サイトをご利用いただきありがとうございます。</p>
  </body>
</html>