<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー</p>
    <p>＊このメールはこのメールはお客様の注文に関する大切なメールです。</p>
    <p>お取引が完了するまで保存してください。</p>
    <p>ーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー</p>
    
    <p><%= @order.item.user.nickname %>様</p>

    <p>リユースアプリ DOZO をご利用いただきありがとうございます。</p>
    <p>「<%= @order.item.name %>」の注文を受け付けました。 </p>
    <p>「<%= @order.item.name %>」を厚生棟カウンターへお持ちください。</p>
   
   
    <p>

    </p>
    <p></p>
  </body>
</html>